/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: 'Lato, "Helvetica Neue", sans-serif;'
);
@include mat-core($custom-typography);

html, body { height: 100%; }

::-webkit-scrollbar
{
  width: 14px;

  &-track {
    background: transparent;
  }
  &-thumb {
    background: #6e6e6e;
    border: 3px solid #303030;
    border-radius: 10px;

    &:hover {
      background: #424242;
    }
  }
}
