<app-mat-spinner-overlay
  overlay="true"
  *ngIf="loading === true">
</app-mat-spinner-overlay>

<div class="container" *ngIf="loading === false">
  <div class="row">
    <div class="offset-2"></div>
    <div class="col-md-12">
      <mat-vertical-stepper [linear]="isLinear">
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Name</ng-template>
            <table class="full-width">
              <td><mat-form-field class="full-width" appearance="outline">
                <mat-label>First Name</mat-label>
                <input type="text" matInput placeholder="First name" formControlName="firstName" required
                       [(ngModel)]="firstName">
              </mat-form-field></td>
              <td><mat-form-field class="full-width" appearance="outline">
                <mat-label>Surname</mat-label>
                <input type="text" matInput placeholder="Surname" formControlName="surname" required
                       [(ngModel)]="surname">
              </mat-form-field></td>
            </table>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="phoneFormGroup">
          <form [formGroup]="phoneFormGroup">
            <ng-template matStepLabel>Phone</ng-template>
            <mat-form-field appearance="outline">
              <mat-label>Phone</mat-label>
              <input type="tel" matInput formControlName="phoneCtrl" placeholder="0812345678" pattern="[0-9]{10}" required
                     [(ngModel)]="phone">
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Profile Picture</ng-template>
              <mat-label>Choose a profile picture (510x510)</mat-label>
            <br>
              <input type="file" (change)="onFileChanged($event)">
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext (click)="onUpload()">Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Bio</ng-template>
            <p>This will be your summary/objective in the CVs you create. Don't worry, you can always change it.</p>
            <mat-form-field appearance="outline">
              <mat-label>Summary</mat-label>
              <textarea matInput formControlName="secondCtrl" placeholder="Bio" required
                        [(ngModel)]="user.profile.bio"></textarea>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>LinkedIn profile</ng-template>
            <p>You can provide your LinkedIn profile here, it will be viewable in your CV.</p>
            <mat-form-field appearance="outline">
              <mat-label>LinkedIn</mat-label>
              <input matInput formControlName="secondCtrl" placeholder="LinkedIn Profile" required
                        [(ngModel)]="user.socialUrl">
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Personal Information</ng-template>
            <h3 style="color: #ff5050">*This information is optional. It will be shown to the employer when you apply for jobs.</h3>
              <p>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Gender</mat-label>
                  <mat-select (selectionChange)="selectedGender($event)">
                    <mat-option value="M">Male</mat-option>
                    <mat-option value="F">Female</mat-option>
                  </mat-select>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Age</mat-label>
                  <mat-select (selectionChange)="selectedAge($event)">
                    <mat-option *ngFor="let age of ages" [value]="age">{{age}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Ethnicity</mat-label>
                  <mat-select (selectionChange)="selectedRace($event)">
                    <mat-option *ngFor="let race of races" [value]="race">{{race}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </p>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="onDone()">Done</button>
            </div>
          </form>
        </mat-step>
      </mat-vertical-stepper>
    </div>
  </div>
</div>

