<div class="container">
  <div class="row">
    <div class="offset-2"></div>
    <div class="col-md-12">
      <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Fill out your name</ng-template>
            <table class="full-width">
              <td><mat-form-field class="full-width" appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="First name" formControlName="firstCtrl" required
                       [(ngModel)]="user.firstName">
              </mat-form-field></td>
              <td><mat-form-field class="full-width" appearance="outline">
                <mat-label>Surname</mat-label>
                <input matInput placeholder="Surname" formControlName="firstCtrl" required
                       [(ngModel)]="user.surname">
              </mat-form-field></td>
            </table>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Fill out your phone</ng-template>
            <mat-form-field appearance="outline">
              <mat-label>Phone</mat-label>
              <input matInput formControlName="firstCtrl" placeholder="08xxxxxxxx" required
                     [(ngModel)]="user.phone">
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Fill out your bio</ng-template>
            <p>This will be your summary/objective in the CVs you create. Don't worry, you can always change it</p>
            <mat-form-field appearance="outline">
              <mat-label>Summary</mat-label>
              <textarea matInput formControlName="firstCtrl" placeholder="Bio" required
                        [(ngModel)]="bio"></textarea>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="onDone()">Done</button>
            </div>
          </form>
        </mat-step>
      </mat-vertical-stepper>
    </div>
  </div>
</div>

