<div class="row position">
  <div class="col-md-11">
    <mat-form-field style="width: 100%; margin: 8px;" appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Course name or university">
    </mat-form-field>
    <mat-card class="course-tile" (click)="openDialog(course)" *ngFor="let course of obs | async">
      <mat-card-title>{{course.name}}</mat-card-title>
      <mat-card-subtitle>{{ course.university}} </mat-card-subtitle>
    </mat-card>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </div>
</div>
