<app-search-toolbar></app-search-toolbar>
<div class="body">
  <div class="container">
    <div class="row">
      <div class="offset-2"></div>
      <hr />
      <div class="col-md-10 justify-content-center">
        <div class="priority-jobs" *ngIf="priority.length > 0">
          <h3><strong>Sponsored</strong></h3>
          <app-job-tile [positions]="priority"></app-job-tile>
        </div>
        <h3><strong>All opportunities</strong></h3>
        <app-job-tile [positions]="positions" *ngIf="!loading"></app-job-tile>
      </div>
    </div>
  </div>
</div>
