<div class="picsum-img-wrapper">
  <img src="assets/images/prograd2.jpg" alt="Random second slide">
</div>
<div class="logo"><span class="mat-display-4"><b>prograd</b></span></div>
<mat-card class="centered">
  <mat-card-title>Jumpstart Your Career</mat-card-title>
  <hr>
  <mat-card-content>
    <form #f="ngForm" (ngSubmit)="f.form.valid && registerStudent()" novalidate>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput
             placeholder="Email"
             name="email"
             [(ngModel)]="model.email"
             #email="ngModel"
             [ngClass]="{ 'is-invalid': f.submitted && email.invalid}"
             required email>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput
             placeholder="Username"
             name="username"
             [(ngModel)]="model.username"
             #username="ngModel"
             [ngClass]="{ 'is-invalid': f.submitted && username.invalid}"
             required>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password"
             name="password"
             type="password"
             [(ngModel)]="model.password"
             #password="ngModel"
             [ngClass]="{ 'is-invalid': f.submitted && password.invalid}"
             required>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit"><mat-icon>perm_identity</mat-icon>Register</button>
    </form>
  </mat-card-content>
</mat-card>
<div class="carousel-caption">
  <h3>Get Started With Prograd</h3>
  <p>Find the perfect internship or graduate opportunity you've been looking for.</p>
</div>
