.card-container {
  width: 100%;
  margin: 20px;
  background-color: #222222 !important;
  text-align: center;
}

.company-card {
  margin: 15px 0 0 0;
  text-align: left;
}

.example-header-image {
  background-image: url('https://static.thenounproject.com/png/88781-200.png');
  background-size: cover;
}

.star {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  color: #d3d3d3;
}

.full {
  color: #ffcd38;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #ffcd38;
}

hr {
  background-color: #424242;
}
