<app-mat-spinner-overlay
  overlay="true"
  *ngIf="loading === true">
</app-mat-spinner-overlay>

<div class="container" *ngIf="loading === false">
  <div class="col-md-6" *ngFor="let company of companies">
    <mat-card class="company-card" (click)="goToCompanyProfile(company.name)">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{company.name}}</mat-card-title>
        <mat-card-subtitle *ngIf="company.address !== null">{{ company.address }}</mat-card-subtitle>
        <mat-card-subtitle>
          <ngb-rating [(rate)]="company.profile.rating" [readonly]="true" [max]="5"></ngb-rating>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div>
