mat-card-header{
}

mat-card-content{
  padding-left: 10px;
  padding-bottom: 10px;
}

mat-card-title{
  padding: 10px;
}

mat-card-subtitle{
  font-weight: bold;
  padding-left: 10px;
}

mat-card{
  padding:0;
  margin: 10px;
}

.example-header-image {
  margin: 8px;
  background-image: url('https://static.thenounproject.com/png/88781-200.png');
  background-size: cover;
}

.spacer {
  margin: 10px;
}

a {
  color: white;
}

.main-content {
  padding-top: 10px;
}

h3 {
  font-family: Lato, sans-serif;
}
