mat-card-content{
  padding-left: 10px;
  padding-bottom: 10px;
}

mat-card-title{
  margin: 5px;
}

mat-card-subtitle{
  font-weight: bold;
  padding-left: 10px;
}

.content-card{
  margin: 10px;
  background-color: #222222 !important;
}

.review-card {
  margin: 8px;
}

.icon {
  margin: 8px;
  color: white;
  font-size: 50px;
}

.spacer {
  margin: 10px;
}

a {
  color: white;
}

.main-content {
  padding-top: 10px;
}

h3 {
  font-family: Lato, sans-serif;
}

hr {
  background-color: #424242;
}

.star {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  color: #d3d3d3;
}

.full {
  color: #ffcd38;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #ffcd38;
}



