<app-mat-spinner-overlay
  overlay="true"
  *ngIf="loading === true">
</app-mat-spinner-overlay>

<div class="container" *ngIf="loading === false">
  <div class="row">
    <div class="offset-2"></div>
    <div class="col-md-12">
      <section>
        <div>
          <mat-card>
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{company.name}}</mat-card-title>
                <mat-card-subtitle *ngIf="company.address !== null">{{ company.address }}</mat-card-subtitle>
                <mat-card-subtitle>
                  {{ company.profile.rating }}
                    <mat-icon style="font-size: 18px; justify-content: flex-end" >star</mat-icon>
                </mat-card-subtitle>
              </mat-card-header>
            <mat-card-content>
              <button class="spacer" mat-raised-button color="primary" (click)="onAddReview()">
                <mat-icon>add</mat-icon>Add Review</button>
              <h3><strong>{{ companyName }}'s jobs</strong></h3>
              <app-job-tile [positions]="positions"></app-job-tile>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
          </mat-card>
        </div>
      </section>
    </div>
  </div>
</div>


