.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: white !important;
}

.content-card {
  margin: 10px;
}

.stats-card {
  text-align: center;
  background-color: white;
  width: 100%;
}

.stats-card mat-card-title, .stats-card mat-card-subtitle {
  color: #222222;
}


/*mat-card-title, mat-card-subtitle {*/
/*  color: #1a1a1a;*/
/*}*/

.full-width {
  width: 100%;
}

.no-response {
  background-color: #ffc260 !important;
}

.response {
  background-color: #536DFE !important;
}

.success {
  background-color: #3CD4A0 !important;
}
