<app-mat-spinner-overlay
  overlay="true"
  *ngIf="loading === true">
</app-mat-spinner-overlay>

<div class="container" *ngIf="loading === false">
  <div class="row">
    <div class="offset-2"></div>
    <div class="col-md-12">
      <h2>Customise your CV before applying</h2>
      <mat-vertical-stepper [linear]="isLinear">
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Objective/Summary</ng-template>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Summary</mat-label>
                <textarea matInput placeholder="Summary" formControlName="firstCtrl" required
                          [(ngModel)]="summary"></textarea>
              </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Grade Average</ng-template>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Average Grade</mat-label>
              <input matInput placeholder="Average Grade" formControlName="secondCtrl" type="number"
                        [(ngModel)]="averageGrade">
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" *ngIf="this.user.profile.projects.length === 0">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Add a Project</ng-template>
            <p>Including projects in your CV can improve your chances of getting the job, you can add one here</p>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Title</mat-label>
              <input matInput placeholder="Title" formControlName="secondCtrl"
                        [(ngModel)]="project.title">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Description</mat-label>
              <textarea matInput placeholder="Description" formControlName="secondCtrl"
                        [(ngModel)]="project.description"></textarea>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="firstFormGroup" *ngIf="this.user.profile.projects.length > 0">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Projects</ng-template>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Choose projects you want to include in this CV</mat-label>
              <mat-chip-list #chipList aria-label="Projects selection">
                <mat-chip
                  color="primary"
                  *ngFor="let project of projects"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="removeProject(project)">
                  {{project}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                  class="full-width"
                  placeholder="choose project..."
                  [formControl]="projectsCtrl"
                  [matAutocomplete]="auto"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="addProject($event)">
              </mat-chip-list>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedProject($event)">
                <mat-option *ngFor="let project of filteredProjects | async" [value]="project">
                  {{project}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="firstFormGroup" *ngIf="this.user.profile.experiences.length > 0">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Work Experience</ng-template>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Choose work experience you want to include in this CV</mat-label>
              <mat-chip-list #chipList aria-label="Experience selection">
                <mat-chip
                  color="primary"
                  *ngFor="let experience of experiences"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="removeExperience(experience)">
                  {{experience}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                  class="full-width"
                  placeholder="choose work experience..."
                  [formControl]="experienceCtrl"
                  [matAutocomplete]="auto"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="addExperience($event)">
              </mat-chip-list>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedExperience($event)">
                <mat-option *ngFor="let experience of filteredExperiences | async" [value]="experience">
                  {{experience}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" *ngIf="this.user.profile.course !== null">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Modules (Optional)</ng-template>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Choose modules you want to include in this CV</mat-label>
              <mat-chip-list #chipList aria-label="Module selection">
                <mat-chip
                  color="primary"
                  *ngFor="let module of modules"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="removeModule(module)">
                  {{module}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                  class="full-width"
                  placeholder="choose module..."
                  [formControl]="moduleCtrl"
                  [matAutocomplete]="auto"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="addModule($event)">
              </mat-chip-list>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedModule($event)">
                <mat-option *ngFor="let module of filteredModules | async" [value]="module">
                  {{module}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
              <button mat-button matStepperNext (click)="onSkip()">Skip</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Choose your skills</ng-template>
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Choose skills you want to include in this CV</mat-label>
                  <mat-chip-list #chipList aria-label="Skills selection">
                    <mat-chip
                      color="primary"
                      *ngFor="let skill of skills"
                      [selectable]="selectable"
                      [removable]="removable"
                      (removed)="removeSkill(skill)">
                      {{skill}}
                      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input
                      class="full-width"
                      placeholder="choose skill..."
                      [formControl]="skillsCtrl"
                      [matAutocomplete]="auto"
                      [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                      (matChipInputTokenEnd)="addSkill($event)">
                  </mat-chip-list>
                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedSkill($event)">
                    <mat-option *ngFor="let skill of filteredSkills | async" [value]="skill">
                      {{skill}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button (click)="onEditDetails()">Edit Details & Apply</button>
                </div>
              </form>
            </mat-step>
      </mat-vertical-stepper>
    </div>
  </div>
</div>

