
  <mat-toolbar>
    <mat-toolbar-row>
      <form (ngSubmit)="onSearch()" class="form-check-inline search">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Job title or keywords"
                 [(ngModel)]="keywords"
                 [ngModelOptions]="{standalone: true}">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input matInput placeholder="City"
                 [(ngModel)]="location"
                 [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <button
          mat-raised-button
          type="submit"
          color="accent"
          class="search-btn">
          <mat-icon>search</mat-icon>
          <span>Search</span>
        </button>
      </form>
    </mat-toolbar-row>
  </mat-toolbar>



