.form-control {
  width: 25%;
  margin: 8px 8px 8px 0;
  box-sizing: border-box;
}

.search {
  width: 50%;
  box-sizing: border-box;
  justify-content: center;
}

.mat-toolbar-row {
  justify-content: center;
}

mat-toolbar {
  background: inherit;
}

.search-bar {
  margin: 10px 10px 10px 10px;
}
