<mat-card class="centered">
  <div
    gdAreas="header | content"
    gdGap="16px"
    gdRows="auto auto auto">
    <div gdArea="header">
      <div class="logo"><span class="mat-display-2"><b>prograd</b></span></div>
      <hr>
    </div>

    <div gdArea="content">
      <mat-card-subtitle>Please enter your email to change password</mat-card-subtitle>
      <mat-card-content>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput
                   placeholder="Email"
                   name="email"
                   [(ngModel)]="email"
                   required>
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="changePassword()">Submit</button>
      </mat-card-content>
    </div>
  </div>
</mat-card>

