<mat-card class="centered">
  <div
    gdAreas="header | content"
    gdGap="16px"
    gdRows="auto auto auto">
    <div gdArea="header">
      <div class="logo"><span class="mat-display-2"><b>prograd</b></span></div>
      <hr>
    </div>

    <div gdArea="content">
      <mat-card-subtitle>Please enter your new password</mat-card-subtitle>
      <mat-card-content>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>New Password</mat-label>
          <input matInput
                 placeholder="Password"
                 name="password"
                 [type]="hide ? 'password' : 'text'"
                 [(ngModel)]="password"
                 required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon></button>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="changePassword()">Submit</button>
      </mat-card-content>
    </div>
  </div>
</mat-card>

