.login-form{
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width {
  width: 100%;
}

.text-center {
  font-weight: bold;
}

.login-header h4 {
  font-weight: bold;
}
