<mat-card class="centered">
  <div
    gdAreas="header | content"
    gdGap="16px"
    gdRows="auto auto auto">

    <div gdArea="header">
      <div class="logo"><span class="mat-display-2"><b>prograd</b></span></div>
      <hr>
    </div>

    <div gdArea="content">
      <mat-card-title>Login</mat-card-title>
      <mat-card-content>

        <form #f="ngForm" (ngSubmit)="f.form.valid && loginStudent()" novalidate>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput
                   placeholder="Email"
                   name="email"
                   [(ngModel)]="model.email"
                   #email="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && email.invalid}"
                   required>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput
                   placeholder="Password"
                   name="password"
                   [type]="hide ? 'password' : 'text'"
                   [(ngModel)]="model.password"
                   #password="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && password.invalid}"
                   required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon></button>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit"><mat-icon>login</mat-icon>Login</button>
        </form>
      </mat-card-content>
    </div>
  </div>
</mat-card>
