<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="login-header">
        <h4 class="text-center">Login</h4>
        <hr>
      </div>

      <div class="login-form">
        <mat-card-content>
          <form #f="ngForm" (ngSubmit)="f.form.valid && loginStudent()" novalidate>
            <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input matInput
                     placeholder="Email"
                     name="email"
                     [(ngModel)]="model.email"
                     #email="ngModel"
                     [ngClass]="{ 'is-invalid': f.submitted && email.invalid}"
                     required>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Password</mat-label>
              <input matInput
                     placeholder="Password"
                     name="password"
                     type="password"
                     [(ngModel)]="model.password"
                     #password="ngModel"
                     [ngClass]="{ 'is-invalid': f.submitted && password.invalid}"
                     required>
            </mat-form-field>
            <button mat-raised-button type="submit" color="accent">
              <i class="fa fa-user"></i>
              <span> Login</span>
            </button>
          </form>
        </mat-card-content>
      </div>

      <div class="login-failed" *ngIf='this.isError'>
        <p class="login-failed-text"></p>
      </div>
      <ngb-alert #staticAlertFail
                 *ngIf="this.isError"
                 type="danger"
                 (closed)="loginFailMessage = ''">{{ loginFailMessage }}
      </ngb-alert>
      <ngb-alert #staticAlertSuccess
                 *ngIf="undefined !== this.registerSuccessMessage && this.registerSuccessMessage.length > 0"
                 type="success"
                 (closed)="registerSuccessMessage = ''">{{ registerSuccessMessage }}
      </ngb-alert>
    </div>
  </div>
</div>
