<app-mat-spinner-overlay
  overlay="true"
  *ngIf="loading === true">
</app-mat-spinner-overlay>

<div class="container" *ngIf="!loading">
      <mat-card>
        <mat-card-title>{{ position.title }}</mat-card-title>
        <mat-card-subtitle>{{position.date}}</mat-card-subtitle>
        <mat-card-subtitle>{{ position.location}} </mat-card-subtitle>
        <mat-card-subtitle>{{position.company.name}}</mat-card-subtitle>
        <mat-card-content><p>{{ position.description}}</p>
          <p><strong>Requirements:</strong></p>
          <ul>
            <li *ngFor="let skill of position.requirements">{{skill.skillName}}</li>
          </ul>
        </mat-card-content>
        <mat-card-actions *ngIf="!!position.requirements">
          <div>
            <a routerLink="/apply/{{position.positionId}}"><button mat-raised-button color="primary">Apply</button></a>
          </div>
        </mat-card-actions>
      </mat-card>
</div>

