<app-search-toolbar></app-search-toolbar>

<app-mat-spinner-overlay
  overlay="true"
  *ngIf="loading">
</app-mat-spinner-overlay>

<div class="container" *ngIf="!loading">
  <h3 *ngIf="!!positions.length || !!priority.length"><b>Opportunities on Prograd</b></h3>
  <div class="priority-jobs" *ngIf="priority.length > 0">
    <app-job-tile [positions]="priority.reverse()"></app-job-tile>
  </div>
  <app-job-tile [positions]="positions.reverse()"></app-job-tile>
  <h3 *ngIf="jobsApi.length !== 0"><b>Other opportunities</b></h3>
  <app-job-tile [positions]="jobsApi.reverse()"></app-job-tile>
</div>
