<app-search-toolbar></app-search-toolbar>

<app-mat-spinner-overlay
  overlay="true"
  *ngIf="loading === true">
</app-mat-spinner-overlay>

<div class="container" *ngIf="loading === false">
  <div class="row">
  <div class="offset-2"></div>
  <div class="col-md-12">
    <section>
      <div class="member-info">
        <mat-card>
          <div class="col-md-6">
          <mat-card-title>Dashboard</mat-card-title>
            <hr>
          <mat-card-subtitle>About You</mat-card-subtitle>
          <img *ngIf="retrievedImage !== null"
            mat-card-avatar
            [src]=retrievedImage
            alt="Profile"
            class="profile-img">
            <mat-icon style="font-size: 150px" *ngIf="retrievedImage === null">account_circle</mat-icon>

            <mat-card-content *ngIf="user.firstName !== null">
              <h3>Welcome back {{user.firstName}}!</h3>
              <p>Become a Prograd by finding the perfect graduate opportunity for you!</p>
            </mat-card-content>

            <mat-card-subtitle *ngIf="user.profile.course !== null">
              Your Details:
            </mat-card-subtitle>
            <mat-card-content *ngIf="user.profile.course !== null">
              <p><strong>University</strong>: {{user.profile.course.university}}</p>
              <p><strong>Course</strong>: {{user.profile.course.name}}</p>
              <mat-accordion *ngIf="user.profile.externalSkills.length !== 0">
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Skills
                    </mat-panel-title>
                    <mat-panel-description>
                      Your skills based on you course
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <ul>
                    <li *ngFor="let skill of user.profile.externalSkills">{{skill.skillName}}</li>
                  </ul>
                </mat-expansion-panel>
              </mat-accordion>
            </mat-card-content>

          <mat-card-content *ngIf="user.profile.course === null && user.socialUrl === null && user.firstName === null">
            <h3>Welcome back!</h3>
            <p>Finish completing your profile to get graduate programs based on your course!</p>
          </mat-card-content>

            <mat-card-title class="steps"
                            *ngIf="user.profile.course === null && user.socialUrl === null && user.firstName === null"
            >Complete These Steps</mat-card-title>
            <mat-card-content>
                <mat-card-actions *ngIf="user.profile.course === undefined || user.profile.course === null">
                  <label class="step">Setup course details</label>
                  <div class="d-flex flex-row-reverse">
                    <a routerLink="/courses"><button mat-raised-button color="primary">Get Started</button></a>
                  </div>
                </mat-card-actions>
              <mat-card-actions *ngIf="user.socialUrl === undefined || user.socialUrl === null">
                <label class="step">Add LinkedIn</label>
                <div class="d-flex flex-row-reverse">
                <button mat-raised-button color="primary" (click)="openDialog()">Get Started</button>
                </div>
              </mat-card-actions>
              <mat-card-actions *ngIf="user.firstName === undefined || user.firstName === null">
                  <label class="step">Complete Your Profile</label>
                <div class="d-flex flex-row-reverse">
                  <a routerLink="/complete-profile"><button mat-raised-button color="primary">Get Started</button></a>
                </div>
              </mat-card-actions>
            </mat-card-content>
          </div>
        </mat-card>
      </div>
    </section>
    </div>
  </div>
</div>


