.container {
  padding-top: 20px;
}

.job-search {
  font-size: 15px;
}

.profile-img {
  height: 100px;
  width: 100px;
}

.member-info h3{
  font-weight: bold;
}

.mat-card-subtitle {
  font-weight: bold;
  font-size: large;
  color: black;
}

.mat-card-content {
  padding-bottom: 20px;
  flex-grow: 1;
}

.mat-card{
  flex-direction: column;
}

.mat-card-header {
  flex-shrink: 0;
}

.step-btn {
  flex: 1 1 auto;
  justify-content: end;
}

.mat-divider {
  margin-bottom: 20px;
}



