<app-search-toolbar></app-search-toolbar>
<div class="container">
  <div class="col-md-6">
    <section>
<!--      <div class="member-header">-->
<!--        <h2>Profile</h2>-->
<!--      </div>-->
      <div class="member-info">
<!--        <div id="ProfileImage" class="d-flex justify-content-lg-start">-->
<!--          <span class="SVGInline">-->
<!--          <svg class="SVGInline-svg " height="70" viewBox="0 0 64 64" width="70" xmlns="http://www.w3.org/2000/svg">-->
<!--          <g fill="none" fill-rule="evenodd">-->
<!--            <circle cx="32" cy="32" fill="#c4c7cc" r="32"></circle>-->
<!--            <path d="m14.05 58.496a18.531 18.531 0 0 1 -.539-4.452c0-10.21 8.278-18.488 18.489-18.488s18.489 8.277 18.489 18.488c0 1.535-.187 3.026-.54 4.452a31.852 31.852 0 0 1 -17.949 5.504 31.852 31.852 0 0 1 -17.95-5.504zm17.95-25.074c-6.677 0-12.089-5.412-12.089-12.089 0-6.676 5.412-12.089 12.089-12.089s12.089 5.413 12.089 12.09c0 6.676-5.412 12.088-12.089 12.088z" fill="#fff">-->
<!--        </path><circle cx="32" cy="32" r="30" stroke="#c4c7cc" stroke-width="4"></circle></g></svg></span>-->
<!--        </div>-->
        <mat-card>
          <mat-card-title>Profile</mat-card-title>
          <hr>
          <mat-card-subtitle>About You</mat-card-subtitle>
          <img
            mat-card-image
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/768px-Circle-icons-profile.svg.png"
            alt="Profile"
            class="profile-img">
          <mat-card-content>
            <h3>Welcome back!</h3>
            <p>Finish completing your profile to apply to jobs even faster!</p>
          </mat-card-content>
        </mat-card>
      </div>
    </section>
    <p>home works!</p>
  </div>
</div>


