<app-search-toolbar></app-search-toolbar>
<div class="container">
  <div class="row">
  <div class="offset-2"></div>
  <div class="col-md-12">

    <section>
      <div class="member-info">
        <mat-card>
          <div class="col-md-6">
          <mat-card-title>Dashboard</mat-card-title>
            <hr>
          <mat-card-subtitle>About You</mat-card-subtitle>
          <img
            mat-card-image
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/768px-Circle-icons-profile.svg.png"
            alt="Profile"
            class="profile-img">

            <mat-card-content *ngIf="user.firstName !== null">
              <h3>Welcome back {{user.firstName}}!</h3>
              <p>Become a Prograd by finding the perfect graduate opportunity for you!</p>
            </mat-card-content>

            <mat-card-subtitle *ngIf="user.profile.course !== null">
              Your Details:
            </mat-card-subtitle>
            <mat-card-content *ngIf="user.profile.course !== null">
              <p><strong>University</strong>: {{user.profile.course.university}}</p>
              <p><strong>Course</strong>: {{user.profile.course.name}}</p>
              <p><strong>Skills</strong>: </p>
              <ul>
                <li *ngFor="let skill of user.profile.externalSkills">{{skill.skillName}}</li>
              </ul>
            </mat-card-content>

          <mat-card-content *ngIf="user.profile.course === undefined && user.socialUrl === undefined && user.firstName === undefined">
            <h3>Welcome back!</h3>
            <p>Finish completing your profile to get graduate programs based on your course!</p>
          </mat-card-content>

            <mat-card-title class="steps"
                            *ngIf="user.profile.course === null && user.socialUrl === null && user.firstName === null"
            >Complete These Steps</mat-card-title>
            <mat-card-content>
                <mat-card-actions *ngIf="user.profile.course === undefined || user.profile.course === null">
                  <label class="step">Setup course details</label>
                  <div class="d-flex flex-row-reverse">
                    <a routerLink="/courses"><button mat-raised-button color="primary">Get Started</button></a>
                  </div>
                </mat-card-actions>
              <mat-card-actions *ngIf="user.socialUrl === undefined || user.socialUrl === null">
                <label class="step">Add LinkedIn</label>
                <div class="d-flex flex-row-reverse">
                <button mat-raised-button color="primary" (click)="openDialog()">Get Started</button>
                </div>
              </mat-card-actions>
              <mat-card-actions *ngIf="user.firstName === undefined || user.firstName === null">
                  <label class="step">Complete Your Profile</label>
                <div class="d-flex flex-row-reverse">
                  <a routerLink="/complete-profile"><button mat-raised-button color="primary">Get Started</button></a>
                </div>
              </mat-card-actions>
            </mat-card-content>
          </div>
        </mat-card>
      </div>
    </section>
    </div>
  </div>
  <ngb-alert #staticAlertFail
             *ngIf="this.isError"
             type="danger" (closed)="failMessage = ''">{{ failMessage }}

  </ngb-alert>

  <ngb-alert #staticAlertSuccess
             *ngIf="this.successMessage !== undefined && this.successMessage.length > 0 && socialUrl !== undefined"
             type="success" (closed)="successMessage = ''">{{ successMessage }}
  </ngb-alert>
</div>


